<div class="gameboy">
    <div class="switch">
        <h5 class="switch-label">
            <span class="flip">&#10148;</span>OFF-ON&#10148;</h5>
    </div>
    <div class="screen">
        <div class="head">
            <div class="lines"></div>
            <div class="label">DOT MATRIX WITH STEREO SOUND</div>
            <div class="lines"></div>
        </div>
        <div class="lcd-container">
            <div class="battery">
                <div class="led"></div>
                <div class="label">BATTERY</div>
            </div>
            <div class="lcd">
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
    <div class="header">
        <div class="logo">
            <div class="console">Nintendo</div>
            <div class="device">Game Boy<span class="trade">&trade;</span></div>
        </div>
    </div>
    <div class="controls">
        <div class="arrows">
            <button [id]="keyCodes.ARROW_LEFT" class="arrow left" (touchstart)="touch($event)" (touchend)="touch($event)"><span>left</span></button>
            <button [id]="keyCodes.ARROW_UP" class="arrow up" (touchstart)="touch($event)" (touchend)="touch($event)"><span>up</span></button>
            <button [id]="keyCodes.ARROW_RIGHT" class="arrow right" (touchstart)="touch($event)" (touchend)="touch($event)"><span>right</span></button>
            <button [id]="keyCodes.ARROW_DOWN" class="arrow down" (touchstart)="touch($event)" (touchend)="touch($event)"><span>down</span></button>
        </div>
        <div class="buttons">
            <div class="button">
                <button [id]="keyCodes.KEY_B" (touchstart)="touch($event)" (touchend)="touch($event)"></button>
                <label>b</label>
            </div>
            <div class="button">
                <button [id]="keyCodes.KEY_A" (touchstart)="touch($event)" (touchend)="touch($event)"></button>
                <label>a</label>
            </div>
        </div>
        <div class="actions">
            <div class="button">
                <button [id]="keyCodes.KEY_SELECT" (touchstart)="touch($event)" (touchend)="touch($event)"></button>
                <label>select</label>
            </div>
            <div class="button">
                <button [id]="keyCodes.KEY_START" (touchstart)="touch($event)" (touchend)="touch($event)"></button>
                <label>start</label>
            </div>
        </div>
    </div>


</div>